@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

$very-dark-blue-main-BG: hsl(217, 54%, 11%);
$very-dark-blue-card-BG: hsl(216, 50%, 16%);
$very-dark-blue-line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

* {
	box-sizing: border-box;
	outline: none;
	padding: 0;
	margin: 0;
	font-family: 'Outfit', sans-serif;
}

body {
	background-color: $very-dark-blue-main-BG;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.container {
	background-color: $very-dark-blue-card-BG;
	width: 350px;
	height: 595px;
	border-radius: 15px;
	padding: 24px 24px 32px 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-image {
	width: 302px;
	height: 302px;
	border-radius: 15px;
}

.title {
	color: $white;
	font-weight: 600;
	font-size: 22px;
}

.subtitle {
	color: $soft-blue;
	line-height: 25px;
	font-size: 18px;
	font-weight: 300px;
}

.price,
.counter,
.creator {
	font-size: 16px;
}

.price-and-counter {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.price,
.counter {
	display: flex;
	align-items: center;
}

.price {
	color: $cyan;
	font-weight: 600;

	img {
		width: 12px;
		height: 20px;
		font-weight: 300;
		margin-right: 10px;
	}
}

.counter {
	color: $soft-blue;

	img {
		width: 14px;
		height: 14px;
		margin-right: 10px;
	}
}

.creator {
	color: $soft-blue;
	padding-top: 16px;
	border-top: 1px solid $very-dark-blue-line;
	display: flex;
	align-items: center;
	font-weight: 300;

	img {
		width: 33px;
		height: 33px;
		margin-right: 16px;
		border: 1px solid $white;
		border-radius: 50%;
	}

	p {
		color: $white;
		font-weight: 600;
		margin-left: 5px;
	}
}

.attribution {
	font-size: 12px;
	color: $soft-blue;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 30px 0;

	a {
		color: $cyan;
	}
}

@media (max-width: 400px) {
	.container {
		width: 327px;
		height: 543px;
		padding: 24px;
	}

	.card-image {
		width: 280px;
		height: 278px;
	}

	.price img,
	.counter img {
		margin-right: 7px;
	}

	.subtitle {
		font-size: 16px;
	}

	.counter,
	.creator {
		font-size: 15px;
	}

	.attribution {
		position: relative;
		padding: 20px 0 0 0;
	}
}

@media (max-width: 370px) {
	.container {
		transform: scale(0.9);
	}
}

@media (max-width: 340px) {
	.container {
		transform: scale(0.8);
	}
}
